.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root > ul {
  color: #cecece;
  list-style-type: none;
  position: absolute;
  font-size: 1.6rem;
  text-shadow: 1px 1px 2px black;
  top: 20px;
}
